/* Select the main container */
.main_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #D2B48C;
    padding: 20px;
    border: 2px solid #8B4513;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}

.section1 {
    display:flex;
    flex-wrap: wrap;
}
.box {
    padding: 20px;
    border: 3px solid #D2691E;
    margin: 10px;
}

/* Select the full name */
.box1 h1 {
    font-size: 24px;
    font-weight: bold;
}

/* Select the title */
.box1 h2 {
    font-size: 18px;
    color: #8B4513;
}

/* Select the general information */
.box2 p {
    font-size: 14px;
    line-height: 1.4;
}

/* Select the biography */
.box3 p {
    font-size: 14px;
    line-height: 1.4;
}

/* Select section headings */
h2 {
    border-bottom: 2px solid #8B4513;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

/* Style your employment and education sections */
/* Style your skills sections */
